QLHS_WCF/Connected Services/ServiceReference1/StudentService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StudentService1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53431/StudentService1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53431/StudentService1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53431/StudentService1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:53431/StudentService1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISudentService1_SelectStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectStudent" />
  </wsdl:message>
  <wsdl:message name="ISudentService1_SelectStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectStudentResponse" />
  </wsdl:message>
  <wsdl:message name="ISudentService1_InsertStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertStudent" />
  </wsdl:message>
  <wsdl:message name="ISudentService1_InsertStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertStudentResponse" />
  </wsdl:message>
  <wsdl:message name="ISudentService1_UpdateStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudent" />
  </wsdl:message>
  <wsdl:message name="ISudentService1_UpdateStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudentResponse" />
  </wsdl:message>
  <wsdl:message name="ISudentService1_DeleteStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudent" />
  </wsdl:message>
  <wsdl:message name="ISudentService1_DeleteStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentResponse" />
  </wsdl:message>
  <wsdl:portType name="ISudentService1">
    <wsdl:operation name="SelectStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/ISudentService1/SelectStudent" message="tns:ISudentService1_SelectStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISudentService1/SelectStudentResponse" message="tns:ISudentService1_SelectStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/ISudentService1/InsertStudent" message="tns:ISudentService1_InsertStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISudentService1/InsertStudentResponse" message="tns:ISudentService1_InsertStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/ISudentService1/UpdateStudent" message="tns:ISudentService1_UpdateStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISudentService1/UpdateStudentResponse" message="tns:ISudentService1_UpdateStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/ISudentService1/DeleteStudent" message="tns:ISudentService1_DeleteStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISudentService1/DeleteStudentResponse" message="tns:ISudentService1_DeleteStudent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISudentService1" type="tns:ISudentService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectStudent">
      <soap:operation soapAction="http://tempuri.org/ISudentService1/SelectStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStudent">
      <soap:operation soapAction="http://tempuri.org/ISudentService1/InsertStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <soap:operation soapAction="http://tempuri.org/ISudentService1/UpdateStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap:operation soapAction="http://tempuri.org/ISudentService1/DeleteStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentService1">
    <wsdl:port name="BasicHttpBinding_ISudentService1" binding="tns:BasicHttpBinding_ISudentService1">
      <soap:address location="http://localhost:53431/StudentService1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>